@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;900&family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-dark antialiased transition-colors duration-300;
}

html.dark body {
  @apply bg-gray-900 text-white;
}

.section-padding {
  @apply py-20;
}